<!DOCTYPE html>

<html lang="en" dir="ltr">
    

    <body>
        
       <div class="content">
    <h1 style="text-align: center">House Price Prediction</h1>

    <div class="form">
        <form action="/predict" method="POST">
            <label >bedrooms:</label>
            <input type="number" name="bedrooms" id="bedrooms" placeholder="bedrooms"><br><br>
            <label >bathrooms:</label>
            <input type="number" name="bathrooms" id="bathrooms" placeholder="bathrooms"><br><br>
            <label for="fname">sqft_living:</label>
            <input type="number" name="sqft_living" id="sqft_living" placeholder="sqft_living"><br><br>
            <label for="lname">sqft_lot:</label>
            <input type="number" name="sqft_lot" id="sqft_lot" placeholder="sqft_lot"><br><br>
            <label for="fname">floors:</label>
            <input type="number" name="floors" id="floors" placeholder="floors"><br><br>
             <label for="lname">waterfront:</label>
            <input type="number" name="waterfront" id="waterfront" placeholder="waterfront"><br><br>
            <label for="lname">view:</label>
            <input type="number" name="view" id="view" placeholder="view"><br><br>
            <label for="fname">condition:</label>
            <input type="number" name="condition" id="condition"placeholder="condition"><br><br>
            <label for="lname">sqft_above:</label>
            <input type="number" name="sqft_above" id="sqft_above"placeholder="sqft_above"><br><br>
            <label for="fname">yr_built:</label>
            <input type="number" name="yr_built" id="yr_built"placeholder="yr_built"><br><br>
            <label for="lname">yr_renovated:</label>
            <input type="number" name="yr_renovated" id="yr_renovated" placeholder="yr_renovated"><br><br>
        
            <input type="submit" value="Predict">
        </form>
    </div>
</div>
    	

     
       

    </body>
</html>

